# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignore virtual environment directories
venv/
env/
ENV/

# Ignore environment variable files
.env
.env.*

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore log files
*.log

# Ignore compiled C extensions
*.so

# Ignore macOS specific files
.DS_Store

# Ignore mypy cache
.mypy_cache/

# Ignore coverage reports
htmlcov/
.coverage
.coverage.*

# Ignore pytest cache
.pytest_cache/

# Ignore build directories
build/
dist/
*.egg-info/